<main class="container">

  <div class="addBtn">
    <a routerLink="/add">
      <button
        mat-flat-button
        (click)="onAddButtonClick()"
        color="primary">
        Add assignment
      </button>
    </a>
  </div>

  <mat-tab-group>
    <mat-tab label="Due">
    <div *ngFor="let assignment of assignments">
    <mat-card *ngIf="assignment.submitted === false">
      <div class="header">
        <div class="left">
          <mat-card-title>{{assignment.name}}</mat-card-title>
          <mat-card-subtitle>
            Due {{assignment.dueDate | date}}
          </mat-card-subtitle>
        </div>
        <div class="right">
          <img mat-card-avatar src="../../assets/avatar-icon.png" alt="Writer user">
        </div>
      </div>
  
      <mat-card-content>Example content card</mat-card-content>
  
      <img mat-card-image class="card-image" src="../../assets/writing-hand.png" alt="writing">
  
      <mat-card-actions>
        <button mat-flat-button (click)="setSelected(assignment)" color="link">Detail</button>
      </mat-card-actions>
  
      <mat-card-footer>Packt Publishing</mat-card-footer>
    </mat-card>
  </div>
</mat-tab>

<mat-tab label="Submitted">
  <div *ngFor="let assignment of assignments">
  <mat-card *ngIf="assignment.submitted === true">
    <div class="header">
      <div class="left">
        <mat-card-title>{{assignment.name}}</mat-card-title>
        <mat-card-subtitle>
          Submitted
        </mat-card-subtitle>
      </div>
      <div class="right">
        <img mat-card-avatar src="../../assets/avatar-icon.png" alt="Writer user">
      </div>
    </div>

    <mat-card-content>Example content card</mat-card-content>

    <img mat-card-image class="card-image" src="../../assets/writing-hand.png" alt="writing">

    <mat-card-actions>
      <button mat-flat-button (click)="setSelected(assignment)" color="link">Detail</button>
    </mat-card-actions>

    <mat-card-footer>Packt Publishing</mat-card-footer>
  </mat-card>
</div>
</mat-tab>
  </mat-tab-group>

</main>
