.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}
.addBtn {
    align-self: flex-end;
    margin-top: -54px;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}