<mat-horizontal-stepper>
  <mat-step label="Assignment name">
    <form ngForm #assignmentsForm class="form">
      <mat-form-field>
        <input matInput [(ngModel)]="_name" name="htmlName" placeholder="enter assignment name">
      </mat-form-field>
      <button mat-stroked-button matStepperNext color="primary">Next</button>
    </form>
  </mat-step>

  <mat-step label="Due date">
    <form class="form">
      <mat-form-field>
        <input matInput [matDatepicker]="htmlPicker" [(ngModel)]="_dueDate" name="htmlName"
          placeholder="assignment due?">
        <mat-datepicker-toggle matSuffix [for]="htmlPicker">
        </mat-datepicker-toggle>
        <mat-datepicker #htmlPicker></mat-datepicker>
      </mat-form-field>
      <button mat-stroked-button matStepperPrevious color="warn">Back</button>
      <button mat-stroked-button matStepperNext color="primary">Next</button>
    </form>
  </mat-step>

  <mat-step label="Submit">
    <form class="form">
      <button mat-stroked-button matStepperPrevious color="warn">Back</button>
      <button mat-stroked-button (click)="
      onSubmit();
      assignmentsForm.reset()" color="primary">
        Add Assignment
      </button>
    </form>
  </mat-step>
</mat-horizontal-stepper>